.header-wrapper {
    background: #3B4346 url("images/bg01.jpg");
    border-bottom: solid 1px #272d30;
    box-shadow: inset 0px -1px 0px 0px #51575a;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
}

.features-wrapper {
    background: #353D40 url("images/bg02.jpg");
    border-bottom: solid 1px #272e31;
    padding: 45px 0 45px 0;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
}

.content-wrapper {
    background: #f7f7f7 url("images/bg04.png");
    border-top: solid 1px #fff;
    padding: 45px 0 45px 0;
}

header .nav {
    background: #3B4346 url("images/bg01.jpg");
}

ul.nav li a {
    color: #fff;
}

ul.nav li a:hover {
    text-decoration: none;
}
