<h2>
  Registration Form
</h2>
<form name="registrationForm" novalidate>
    <div class="form-group">
        <input type="text" name="username" placeholder="Pick a username" ng-model="user.username" required minlength="4" />
        <span ng-if="(registrationForm.username.$error.minlength || registrationForm.username.$error.required) && registrationForm.username.$touched">
          Username must be at least 4 characters long
        </span>
    </div>
    <div class="form-group">
        <input type="email" name="email" placeholder="Email" ng-model="user.email" required="" />
        <span ng-if="registrationForm.email.$invalid && registrationForm.email.$touched">
          Must be a valid email address
        </span>
    </div>
    <div class="form-group">
        <input type="text" name="firstName" placeholder="First name (optional)" />
    </div>
    <div class="form-group">
        <input type="text" name="lastName" placeholder="Last name (optional)" />
    </div>
    <button ng-disabled="registrationForm.$invalid" ng-click="registerCtrl.submit(user)">Register</button>
</form>
